{% extends "layout.html" %}

{% block page_title %}
GOV.UK prototype kit
{% endblock %}

{% block content %}

<div class="grid-row">
  <div class="column-full">

    <h1 class="heading-xlarge">
      <span class="heading-secondary">Header</span>
      GOV.UK
    </h1>

    <h2 class="heading-medium">When to use this pattern</h2>
    <p>This pattern should be used on all service pages.</p>
    <!-- /patterns/header/govuk_header_partial -->
    <h3 class="heading-small">Example</h3>
    {{ iframe('/patterns/header/govuk_header_partial.html') }}
    <p>
      <a href="/docs/examples/blank-govuk.html">View the header in a page</a>
    </p>

    <h2 class="heading-medium">Components used in this pattern</h2>
    <ul class="list list-bullet">
      <li>
        <a href="/components/govuk_banner/govuk-header-banner.html">Banner</a>
      </li>
      <li>Service name</li>
      <li>Blue bar</li>
    </ul>
    <hr>
    <p>
      Discuss this pattern on
      <a href="https://github.com/hmrc/design-language-documentation/issues/4">GitHub</a>
    </p>
  </div>
</div>
{% endblock %}
