{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% set currentSection = 'address' %}
{% set currentPage = 'addressIndex' %}

{% block content %}

  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-full">

        <h1 class="heading-xlarge">
          Address
        </h1>
        <p>
          [Introductory content telling people about the address pattern]
        </p>

        <h2 class="heading-medium">Patterns in this group</h2>
        <ul class="list list-bullet">
          <li><a href="#">Free text</a></li>
          <li><a href="#">Multiple fields</a></li>
          <li><a href="#">Address finder</a></li>
          <li><a href="#">Displaying an address</a></li>
          <li><a href="#">Finding an address</a></li>
          <li><a href="#">Selecting an address</a></li>
          <li><a href="#">Editing an address</a></li>
        </ul>
      </div>
    </div>
  </main>

{% endblock %}
