{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% set currentSection = 'header' %}
{% set currentPage = 'govUkFooter' %}

{% block content %}

  <main id="content" role="main">
    <div class="grid-row">
      <div class="column-two-thirds">

        <h1 class="heading-xlarge">
          GOV.UK footer
        </h1>
        <p>
          Discuss this pattern on
          <a href="https://github.com/hmrc/design-language-documentation/issues/4">GitHub</a>
        </p>
        <!-- <a href="/docs/examples/blank-govuk.html">View the header in a page</a>
                <a href="/patterns/header/govuk_header_partial.html">header partial</a> -->

        <!-- /patterns/header/govuk_header_partial -->

        <!-- <div class="example width-150"> -->
        <iframe class="width-150" frameborder="0" scrolling="no" onload="resizeIframe(this)" id="desktop" src="/patterns/footer/govuk_footer_partial.html"></iframe>
        <!-- </div> -->

      </div>
    </div>
  </main>

{% endblock %}
