{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% set currentSection = 'header' %} {% set currentPage = 'govUkFooter' %} {% block content %}

  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Footer</span>
        GOV.UK
      </h1>

      <h2 class="heading-medium">When to use this pattern</h2>
      <p>The footer should be included on all pages in your service.</p>
      <!-- /patterns/header/govuk_header_partial -->
      <h2 class="heading-medium">Example</h2>
      {{ iframe('/patterns/footer/govuk_footer_partial.html') }}
      <hr>
      <p>
        Discuss this pattern on
        <a href="https://github.com/hmrc/design-language-documentation/issues/4">GitHub</a>
      </p>

    </div>
  </div>

{% endblock %}
