{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% set currentSection = 'header' %} {% set currentPage = 'headerIndex' %} {% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Patterns</span>
        Footer
      </h1>

      <h2 class="heading-medium">When to use this pattern</h2>
      <p>This pattern should be used on all service pages.</p>

    </div>
  </div>
</main>

{% endblock %}
