<ul>
    <li class="">
        <a href="/">Introduction</a>
    </li>
    <li><hr></li>
    <li class="">
        <a href="#patterns">Patterns</a>
    </li>
    <ul>
        <li>
            <a href="/patterns/address/" data-target="address">Address</a>
        </li>
        <li>
            <div class="js-hidden" id="address">
                <ul>
                    <li>
                        <a href="/patterns/address/free-text.html">Free text</a>
                    </li>
                    <li>
                        <a href="/patterns/address/multiple-fields.html">Multiple fields</a>
                    </li>
                    <li>
                        <a href="/patterns/address/address-finder.html">Address finder</a>
                    </li>
                    <li>
                        <a href="/patterns/address/displaying-an-address.html">Displaying an address</a>
                    </li>
                    <li>
                        <a href="/patterns/address/finding-an-address.html">Finding an address</a>
                    </li>
                    <li>
                        <a href="/patterns/address/selecting-an-address.html">Selecting an address</a>
                    </li>
                    <li>
                        <a href="/patterns/address/editing-an-address.html">Editing an address</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
<li><hr></li>
<li>
    <a href="#">Components</a>
</li>
<ul>
    <li>
        <a href="#">Component name</a>
    </li>
</ul>
<li><hr></li>
<li>
<a href="#">Elements</a>
</li>
<ul>
<li>
    <a href="#">Button</a>
</li>
</ul>
</ul>

<ul class='parent_list'>
<li>Parent 1
<ul class='child_list'>
<li>Child 1</li>
<li>Child 2</li>
</ul>
</li>
<li>Parent 2
<ul class='child_list'>
<li>Child 1</li>
<li>Child 2</li>
</ul>
</li>
</ul>

<!--<ul>
  <li class="">
    <a href="/v2/get_started">get started</a>
  </li>
  <li class="">
    <a href="/v2/design_patterns" class="group-heading">design patterns</a>
  </li>
  <li class="">
    <a href="#styles">styles</a>
    <ul style="display: none;">
      <li>
        <a href="/v2/styles/identity">identity</a>
      </li>
      <li>
        <a href="/v2/styles/writing">writing</a>
      </li>
      <li>
        <a href="/v2/styles/layout">layout</a>
      </li>
      <li>
        <a href="/v2/styles/colour">colour</a>
      </li>
      <li>
        <a href="/v2/styles/typography">typography</a>
      </li>
      <li>
        <a href="/v2/styles/imagery">imagery</a>
      </li>
      <li>
        <a href="/v2/styles/icons">icons</a>
      </li>
      <li>
        <a href="/v2/styles/forms">forms</a>
      </li>
      <li>
        <a href="/v2/styles/errors_and_validation">errors and validation</a>
      </li>
      <li>
        <a href="/v2/styles/data">data</a>
      </li>
      <li>
        <a href="/v2/styles/buttons">buttons</a>
      </li>
    </ul>
  </li>
  <li class="current-section">
    <a href="#components">components</a>
    <ul style="display: block;">
      <li>
        <a href="/v2/components/headers">headers</a>
      </li>
      <li>
        <a href="/v2/components/footers">footers</a>
      </li>
      <li>
        <a href="/v2/components/breadcrumbs">breadcrumbs</a>
      </li>
      <li>
        <a href="/v2/components/page_navigation">page navigation</a>
      </li>
      <li>
        <a href="/v2/components/section_navigation">section navigation</a>
      </li>
      <li>
        <a href="/v2/components/alpha_and_beta_banners">alpha and beta banners</a>
      </li>
      <li>
        <a href="/v2/components/pagination">pagination</a>
      </li>
      <li>
        <a href="/v2/components/tabs">tabs</a>
      </li>
      <li>
        <a href="/v2/components/accordions">accordions</a>
      </li>
      <li>
        <a href="/v2/components/modals">modals</a>
      </li>
      <li>
        <a href="/v2/components/loaders">loaders</a>
      </li>
      <li>
        <a href="/v2/components/data_tables">data tables</a>
      </li>
      <li>
        <a href="/v2/components/video">video</a>
      </li>
      <li>
        <a href="/v2/components/maps">maps</a>
      </li>
      <li>
        <a href="/v2/components/help_text">help text</a>
      </li>
      <li>
        <a href="/v2/components/alerts">alerts</a>
      </li>
      <li>
        <a href="/v2/components/progress_indicators">progress indicators</a>
      </li>
      <li class="current-page">
        <a href="/v2/components/form_labels">form labels</a>
      </li>
      <li>
        <a href="/v2/components/radios">radios</a>
      </li>
      <li>
        <a href="/v2/components/checkboxes">checkboxes</a>
      </li>
      <li>
        <a href="/v2/components/text_fields">text fields</a>
      </li>
      <li>
        <a href="/v2/components/select_boxes">select boxes</a>
      </li>
      <li>
        <a href="/v2/components/type-ahead">type-ahead</a>
      </li>
      <li>
        <a href="/v2/components/file_upload">file upload</a>
      </li>
      <li>
        <a href="/v2/components/date_picker">date picker</a>
      </li>
      <li>
        <a href="/v2/components/calendar_control">calendar control</a>
      </li>
      <li>
        <a href="/v2/components/add_edit_delete">add edit delete</a>
      </li>
      <li>
        <a href="/v2/components/search_box">search box</a>
      </li>
      <li>
        <a href="/v2/components/search_filters">search filters</a>
      </li>
      <li>
        <a href="/v2/components/names">names</a>
      </li>
      <li>
        <a href="/v2/components/gender_or_sex">gender or sex</a>
      </li>
      <li>
        <a href="/v2/components/ethnicity">ethnicity</a>
      </li>
      <li>
        <a href="/v2/components/addresses">addresses</a>
      </li>
      <li>
        <a href="/v2/components/dates">dates</a>
      </li>
      <li>
        <a href="/v2/components/currency">currency</a>
      </li>
      <li>
        <a href="/v2/components/email_addresses">email addresses</a>
      </li>
      <li>
        <a href="/v2/components/telephone">telephone</a>
      </li>
      <li>
        <a href="/v2/components/usernames">usernames</a>
      </li>
      <li>
        <a href="/v2/components/passwords">passwords</a>
      </li>
      <li>
        <a href="/v2/components/national_insurance_numbers">national insurance numbers</a>
      </li>
      <li>
        <a href="/v2/components/nationality_and_residency">nationality and residency</a>
      </li>
      <li>
        <a href="/v2/components/passports">passports</a>
      </li>
      <li>
        <a href="/v2/components/credit_cards">credit cards</a>
      </li>
      <li>
        <a href="/v2/components/health_related_conditions">health related conditions</a>
      </li>
      <li>
        <a href="/v2/components/employment_status">employment status</a>
      </li>
    </ul>
  </li>
  <li class="">
    <a href="#pages">pages</a>
    <ul style="display: none;">
      <li>
        <a href="/v2/pages/blank_page">blank page</a>
      </li>
      <li>
        <a href="/v2/pages/start_pages">start pages</a>
      </li>
      <li>
        <a href="/v2/pages/task_list">task list</a>
      </li>
      <li>
        <a href="/v2/pages/question_pages">question pages</a>
      </li>
      <li>
        <a href="/v2/pages/check_your_answers_pages">check your answers pages</a>
      </li>
      <li>
        <a href="/v2/pages/confirmation_pages">confirmation pages</a>
      </li>
      <li>
        <a href="/v2/pages/feedback_pages">feedback pages</a>
      </li>
      <li>
        <a href="/v2/pages/search_results">search results</a>
      </li>
      <li>
        <a href="/v2/pages/error_pages">error pages</a>
      </li>
      <li>
        <a href="/v2/pages/terms_and_conditions_page">terms and conditions page</a>
      </li>
      <li>
        <a href="/v2/pages/declaration_page">declaration page</a>
      </li>
      <li>
        <a href="/v2/pages/sign-in_page">sign-in page</a>
      </li>
      <li>
        <a href="/v2/pages/design_pattern">design pattern</a>
      </li>
    </ul>
  </li>
  <li class="">
    <a href="#tasks">tasks</a>
    <ul style="display: none;">
      <li>
        <a href="/v2/tasks/apply">apply</a>
      </li>
      <li>
        <a href="/v2/tasks/check_eligibility">check eligibility</a>
      </li>
      <li>
        <a href="/v2/tasks/pay">pay</a>
      </li>
      <li>
        <a href="/v2/tasks/register">register</a>
      </li>
      <li>
        <a href="/v2/tasks/sign_in">sign in</a>
      </li>
      <li>
        <a href="/v2/tasks/save_progress">save progress</a>
      </li>
      <li>
        <a href="/v2/tasks/verify_identity">verify identity</a>
      </li>
      <li>
        <a href="/v2/tasks/give_consent">give consent</a>
      </li>
      <li>
        <a href="/v2/tasks/delegate_authority">delegate authority</a>
      </li>
      <li>
        <a href="/v2/tasks/send_a_notification">send a notification</a>
      </li>
      <li>
        <a href="/v2/tasks/book_an_appointment">book an appointment</a>
      </li>
      <li>
        <a href="/v2/tasks/make_a_declaration">make a declaration</a>
      </li>
    </ul>
  </li>
  <li class="">
    <a href="#services">services</a>
    <ul style="display: none;">
      <li>
        <a href="/v2/services/naming_your_service">naming your service</a>
      </li>
      <li>
        <a href="/v2/services/scoping_your_service">scoping your service</a>
      </li>
      <li>
        <a href="/v2/services/telephone_support">telephone support</a>
      </li>
      <li>
        <a href="/v2/services/web-chat">web-chat</a>
      </li>
      <li>
        <a href="/v2/services/help_systems">help systems</a>
      </li>
      <li>
        <a href="/v2/services/case_working">case working</a>
      </li>
      <li>
        <a href="/v2/services/feedback_forms">feedback forms</a>
      </li>
      <li>
        <a href="/v2/services/surveys">surveys</a>
      </li>
    </ul>
  </li>
  <li class="">
    <a href="/v2/design_community" class="group-heading">design community</a>
  </li>
  <li class="">
    <a href="#contribution_guidelines">contribution guidelines</a>
    <ul style="display: none;">
      <li>
        <a href="/v2/contribution_guidelines/how_to_contribute">how to contribute</a>
      </li>
      <li>
        <a href="/v2/contribution_guidelines/submission_criteria">submission criteria</a>
      </li>
    </ul>
  </li>
  <li class="">
    <a href="#other_pattern_libraries">other pattern libraries</a>
    <ul style="display: none;">
      <li>
        <a href="/v2/other_pattern_libraries/DWP">DWP</a>
      </li>
      <li>
        <a href="/v2/other_pattern_libraries/Home_Office">Home Office</a>
      </li>
      <li>
        <a href="/v2/other_pattern_libraries/HMRC">HMRC</a>
      </li>
      <li>
        <a href="/v2/other_pattern_libraries/Land_Registry">Land Registry</a>
      </li>
      <li>
        <a href="/v2/other_pattern_libraries/Ministry_of_Justice">Ministry of Justice</a>
      </li>
      <li>
        <a href="/v2/other_pattern_libraries/local_government">local government</a>
      </li>
    </ul>
  </li>
</ul>-->
