{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
          <span class="heading-secondary">Components</span>
          GOV.UK Banner
      </h1>

      <h2 class="heading-medium">When to use this compnent</h2>
      <p>Every service should have a GOV.UK banner.</p>

      <h3 class="heading-small">Example</h3>
      <!-- <div class="example width-150"> -->
      <iframe class="width-150" frameborder="0" scrolling="no" style="height: 54px;" id="desktop" src="/components/govuk-banner/partial.html"></iframe>
      <!-- TODO: there is a grey bar showing in the iframe for this that's part of the footer this needs to be removed -->

    </div>
  </div>
</main>

{% endblock %}
