.status-metadata {
  font-size: 14px;
  line-height: 1.42857;
  margin-bottom: 30px;

  dl dt {
    float: left;
    clear: left;
    width: auto;
    min-width: 130px;
    padding-right: 10px;
  }
}
