{% macro iframe(path) %}
  <div class="hack_iframe-content js-iframe-controls">
    <div class="hack_iframe-controls">
      <button class="hack_button hack_button--resize js-iframe-resize-btn" value="small">Small
      </button>
      <button class="hack_button hack_button--resize js-iframe-resize-btn" value="medium">Medium
      </button>
      <button class="hack_button hack_button--resize js-iframe-resize-btn" value="large">Large
      </button>
    </div>
    <div class="hack_example js-iframe-container">
      <iframe class="hack_example__iframe js-iframe" frameborder="0" scrolling="no" id="desktop" src="{{ path }}"></iframe>
    </div>
  </div>
{% endmacro %}
