{% macro iframe(path) %}
  <div class="hack_iframe-content">
    <div class="hack_iframe-controls">
      <button aria-controls="iframeResize" class="hack_button hack_button--resize"
              onclick="resizeWindow(this, 'small')">Small
      </button>
      <button aria-controls="iframeResize" class="hack_button hack_button--resize"
              onclick="resizeWindow(this, 'medium')">Medium
      </button>
      <button aria-controls="iframeResize" class="hack_button hack_button--resize"
              onclick="resizeWindow(this, 'large')">Large
      </button>
    </div>
    <div class="hack_example" id="iframeResize">
      <iframe class="hack_example__iframe" frameborder="0" scrolling="no" id="desktop" onload="resizeIframe(this)"
              src="{{ path }}"></iframe>
    </div>
  </div>
{% endmacro %}
