{% macro nav(currentSection, currentPage) %}

  {% macro highlight(currentPage, section) %}
    {# add 'highlighted' class if currentPage matches section #}
    {% if currentPage === section %}class="highlighted"{% endif %}
  {% endmacro %}

  {% macro showSubMenu(currentSection, expectedSections) %}
    {# add 'js-hidden' to hide the subMenu if the currentSection is not in the expectSections array #}
    {% if not inArray(currentSection, expectedSections) %} js-hidden{% endif %}
  {% endmacro %}

  <ul>
  <li><input class="form-control width-100 pattern-search" type="text" value="Search patterns"></li>
  {# Templates section #}
    <li>
      <a href="/templates" {{ highlight(currentPage, 'templates-index') }}>Templates</a>
      <ul class="parent_list{{ showSubMenu(currentSection, ['templates']) }}">
        <li>
          <a href="/templates/basic.html" {{ highlight(currentPage, 'basic') }}>Basic Page</a>
        </li>
      </ul>
    </li>
    {# END Templates section #} {# Patterns section #}
    <li>
      <a href="/patterns" {{ highlight(currentPage, 'patterns-index') }}>Patterns</a>
      {# Patterns sub menu section #}
      <ul class="parent_list {{ showSubMenu(currentSection, [
      'patterns', 'address', 'header', 'footer'
      ]) }}">
        <li>
          <a href="/patterns/header/" {{ highlight(currentPage, 'header-index') }}>
            Header
          </a>
          {# Header sub menu section #}
          {% if currentSection === 'header' %}
          <ul>
            <li>
              <a href="/patterns/header/govuk-header.html" {{ highlight(currentPage, 'govuk-header') }}>GOV.UK</a>
            </li>
            <li>
              <a href="/patterns/header/phase-banner.html" {{ highlight(currentPage, 'phase-banner') }}>Phase banner</a>
            </li>
            <li>
              <a href="/patterns/header/hmrc-header.html" {{ highlight(currentPage, 'hmrc-header') }}>HMRC</a>
            </li>
          </ul>
          {% endif %}
          {# END - Header sub menu section #}
        </li>
        <li>
          <a href="/patterns/footer/" {{ highlight(currentPage, 'footer-index') }}>
            Footer
          </a>
          {# Footer sub menu section #}
          {% if currentSection === 'footer' %}
          <ul>
            <li>
              <a href="/patterns/footer/govuk-footer.html" {{ highlight(currentPage, 'govuk-footer') }}>GOV.UK</a>
            </li>
          </ul>
          {% endif %}
          {# END - Footer sub menu section #}
        </li>
        <li>
          <a href="/patterns/address" {{ highlight(currentPage, 'address-index') }}>
            Address
          </a>
          {# Address sub menu section #}
          {% if currentSection === 'address' %}
            <ul class='child_list'>
              <li>
                <a href="/patterns/address/free-text.html" {{ highlight(currentPage, 'free-text') }}>
                  Free text
                </a>
              </li>
              <li>
                <a href="/patterns/address/multiple-fields.html" {{ highlight(currentPage, 'multiple-fields') }}>
                  Multiple fields
                </a>
              </li>
              <li>
                <a href="/patterns/address/address-finder.html" {{ highlight(currentPage, 'address-finder') }}>
                  Address finder
                </a>
              </li>
              <li>
                <a
                  href="/patterns/address/displaying-an-address.html" {{ highlight(currentPage, 'displaying-an-address') }}>
                  Displaying an address
                </a>
              </li>
              <li>
                <a
                  href="/patterns/address/finding-an-address.html" {{ highlight(currentPage, 'finding-an-address') }}>
                  Finding an address
                </a>
              </li>
              <li>
                <a
                  href="/patterns/address/selecting-an-address.html" {{ highlight(currentPage, 'selecting-an-address') }}>
                  Selecting an address
                </a>
              </li>
              <li>
                <a
                  href="/patterns/address/editing-an-address.html" {{ highlight(currentPage, 'editing-an-address') }}>
                  Editing an address
                </a>
              </li>
            </ul>
          {% endif %}
          {# END Address sub menu section #}
        </li>
      </ul>
      {# END Patterns sub menu section #}
    </li>
    {# Components section #}
    <li>
      <a href="/components" {{ highlight(currentPage, 'components-index') }}>Components</a>
      {# Components sub menu section #}
      <ul class="child_list {{ showSubMenu(currentSection, [
      'components', 'govuk-banner', 'service-name'
      ]) }}">
        <li>
          <a
            href="/components/govuk-banner" {{ highlight(currentPage, 'govuk-banner-index') }}>
            GOV.UK banner
          </a>
        </li>
        <li><a href="/components/service-name" {{ highlight(currentPage, 'service-name-index') }}>Service name</a></li>
      </ul>
      {# END Components sub menu section #}
    </li>
    {# END Components section #}
    {# Elements section #}
    <li>
      <a href="/elements" {{ highlight(currentPage, 'elements-index') }}>
        Elements
      </a>
    </li>
    <li>
      <ul id="elements-sub-menu" class="{{ showSubMenu(currentSection, ['elements']) }}">
        <li>
          <a href="/elements/button">Button</a>
        </li>
      </ul>
    </li>
    {# END Elements section #}
  </ul>
{% endmacro %}
