// styling the example box on the patterns page
.example {
  position: relative;
  overflow: hidden;
  border: 1px solid #bfc1c3;
  padding: 30px 15px 15px;
  margin: 15px auto;
  box-sizing: border-box;
  clear: both;
  width: 100%;
  iframe{
    width: 100%;
  }
}

@media (min-width: 641px) {
  .example {
    transition: width 0.5s ease-in;
    padding-top: 45px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
  }
}

.example:before {
  content: "EXAMPLE";
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.2105263158em 0.7894736842em 0.2105263158em 0.7894736842em;
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 12px;
  line-height: 1.25;
  background: #bfc1c3;
  color: white;
}

@media (min-width: 641px) {
  .example:before {
    font-size: 14px;
    line-height: 1.4285714286;
  }
}
 // making the search box 100% width
.width-100  {
  width: 100% !important;
}
.width-150 {
  width: 130%;
}
.width-200  {
  width: 150%;
}

iframe {
  border: 0px;
}
// search box in the navigation
.pattern-search {
    margin-bottom: 15px;
}


body {
  &.small {
    .example {
      transition: width 0.5s ease-in;
      width: 320px;
      margin: 15px auto;
    }
  }
  &.medium {
    .example {
      transition: width 0.5s ease-in;
      width: 500px;
      margin: 15px auto;
    }
  }
  &.large {
    .example {
      transition: width 0.5s ease-in;
      margin: 15px auto;
      width: 100%;
    }
  }
}
