{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Templates</span>
        Basic page
      </h1>


      {{ iframe('/templates/govuk_blank_template.html') }}

      <h2 class="heading-medium">The GOV.UK header is made up of three sub-patterns or components:</h2>
      <ul class="list list-bullet">
        <li>
          <a href="#">GOV.UK Header</a>
        </li>
        <li>
          <a href="#">Phase banner</a>
        </li>
        <li>
          <a href="#">Department banner</a>
        </li>
      </ul>

    </div>
  </div>
{% endblock %}
