{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">Design patterns</span>
        Templates
      </h1>

      <h2 class="heading-medium">What is a template</h2>
      <p>A template is a basic building block for a digital service. Templates should be used to keep services looking consistent across government.</p> 

      <p>A template can have a number of regions where design patterns, components or elements can be displayed. Some template regions should only contain spesific design patterns, components or elements. For example all templates contain a header area and this area should only be used to display the <a href="/patterns/header/">header pattern</a>.</p>

      <h2 class="heading-medium">When to use a template</h2>
      <p>Templates should be used in all services.</p>

      <h2 class="heading-medium">When to create a new template</h2>
      <p>It's unlikley that a service team will need to create a new template as the range of templates has been proven to work for all current service. If you feel that you do need to create a new template for your service you should speak to a memeber of the <a href="#">design language working group</a>.</p>

      <h2 class="heading-medium">Templates that are avalible for service teams</h2>
      <ul class="list list-bullet">
        <li><a href="/templates/basic">Basic page</a></li>
        <li><a href="/templates/check-your-answeres">Check your answeres</a></li>
      </ul>

    </div>
  </div>
{% endblock %}
