{% extends "layout.html" %} {% block page_title %} GOV.UK prototype kit {% endblock %} {% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
          <span class="heading-secondary">GOV.UK </span>
        Design patterns
      </h1>
      <p>
        [Introductory content telling people how to use the design language] Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Ratione dignissimos omnis similique, expedita facere ipsam possimus dolorum ut, earum nulla dolorem, in quam
        accusamus! Nulla corporis natus, maxime officia labore.
      </p>
    </div>
  </div>
</main>

{% endblock %}
